@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

html, body {
  height: 100%;
  /* overflow: hidden; */
}

body {
    min-height: 100vh;
    background:
        radial-gradient(circle at top left,
            #eaf6fb 0%,
            #e6f3fb 45%,
            #dbeef7 100%);
}